name: open-urban
channels:
  - conda-forge

dependencies:
  # ------------------
  # Core languages
  # ------------------
  - python=3.11
  - pip
  - r-base=4.5.2
  - r-renv

  # ------------------
  # Geospatial system libs (for sf / terra / rasterio / pyproj)
  # ------------------
  - gdal
  - geos
  - proj
  - udunits2

  # ------------------
  # Useful native deps
  # ------------------
  - libcurl
  - openssl
  - sqlite

  # ------------------
  # Python (top-level only)
  # ------------------
  - pip:
      - "city-metrix @ git+https://github.com/wri/cities-cif"
      - earthengine-api==1.7.10
      - geemap==0.36.6
      - geopandas==1.1.2
      - rasterio==1.4.4
      - pyproj==3.7.2
      - shapely==2.1.2
      - xarray==2025.12.0
      - rioxarray==0.19.0
      - pandas==2.3.3
      - numpy==2.3.5
      - scikit-image==0.26.0
