name: open-urban
channels:
  - conda-forge
dependencies:
  - tk=8.6.13
  - pysocks=1.7.1
  - wheel=0.46.2
  - pyarrow=22.0.0
  - bzip2=1.0.8
  - pyyaml=6.0.3
  - libssh2=1.11.1
  - libiconv=1.18
  - libzlib=1.3.1
  - libgrpc=1.73.1
  - markupsafe=3.0.3
  - libgfortran=15.2.0
  - re2=2025.11.05
  - aws-c-mqtt=0.13.3
  - liblzma=5.8.2
  - aws-checksums=0.2.7
  - libgoogle-cloud=2.39.0
  - hpack=4.1.0
  - libjpeg-turbo=3.1.2
  - distributed=2026.1.1
  - libre2-11=2025.11.05
  - tzdata=2025c
  - libopenblas=0.3.30
  - prometheus-cpp=1.3.0
  - aws-c-cal=0.9.13
  - setuptools=80.10.1
  - aws-c-sdkutils=0.2.4
  - orc=2.2.1
  - zlib-ng=2.3.2
  - azure-storage-common-cpp=12.11.0
  - azure-storage-files-datalake-cpp=12.13.0
  - libgoogle-cloud-storage=2.39.0
  - aws-c-io=0.23.3
  - libfreetype=2.14.1
  - libparquet=22.0.0
  - azure-storage-blobs-cpp=12.15.0
  - psutil=7.2.1
  - python-dateutil=2.9.0.post0
  - snappy=1.2.2
  - tblib=3.2.2
  - toolz=1.1.0
  - libevent=2.1.12
  - ca-certificates=2026.1.4
  - libnsl=2.0.1
  - libtiff=4.7.1
  - libgfortran5=15.2.0
  - icu=78.2
  - importlib-metadata=8.7.0
  - pip=25.3
  - jinja2=3.1.6
  - nlohmann_json=3.12.0
  - libffi=3.5.2
  - aws-c-auth=0.9.3
  - libbrotlienc=1.2.0
  - libstdcxx=15.2.0
  - xorg-libxau=1.0.12
  - libgcc=15.2.0
  - dask=2026.1.1
  - aws-c-s3=0.11.3
  - libarrow-compute=22.0.0
  - h2=4.3.0
  - hyperframe=6.1.0
  - locket=1.0.0
  - zict=3.0.0
  - openssl=3.6.0
  - libarrow=22.0.0
  - python=3.11
  - gflags=2.2.2
  - libblas=3.11.0
  - krb5=1.21.3
  - xorg-libxdmcp=1.1.5
  - libcrc32c=1.1.2
  - libedit=3.1.20250104
  - azure-identity-cpp=1.13.2
  - zipp=3.23.0
  - azure-core-cpp=1.16.1
  - libarrow-substrait=22.0.0
  - lerc=4.0.0
  - libgcc-ng=15.2.0
  - s2n=1.6.2
  - lcms2=2.18
  - fsspec=2026.1.0
  - aws-c-event-stream=0.5.7
  - sortedcontainers=2.4.0
  - contourpy=1.3.3
  - aws-crt-cpp=0.35.4
  - libxml2-16=2.15.1
  - ld_impl_linux-64=2.45
  - _libgcc_mutex=0.1
  - libthrift=0.22.0
  - libarrow-acero=22.0.0
  - libopentelemetry-cpp=1.21.0
  - cloudpickle=3.1.2
  - click=8.3.1
  - libpng=1.6.54
  - libcurl=8.18.0
  - openjpeg=2.5.4
  - lz4-c=1.10.0
  - c-ares=1.34.6
  - libbrotlicommon=1.2.0
  - libsqlite=3.51.2
  - libwebp-base=1.6.0
  - msgpack-python=1.1.2
  - packaging=26.0
  - glog=0.7.1
  - libabseil=20250512.1
  - libxcrypt=4.4.36
  - backports.zstd=1.3.0
  - libdeflate=1.25
  - xyzservices=2025.11.0
  - bokeh=3.8.1
  - libfreetype6=2.14.1
  - zlib=1.3.1
  - readline=8.3
  - libgomp=15.2.0
  - six=1.17.0
  - zstd=1.5.7
  - pillow=12.1.0
  - aws-c-compression=0.3.1
  - yaml=0.2.5
  - aws-c-common=0.12.6
  - libexpat=2.7.3
  - libcblas=3.11.0
  - _openmp_mutex=4.5
  - libbrotlidec=1.2.0
  - libarrow-dataset=22.0.0
  - dask-core=2026.1.1
  - cytoolz=1.1.0
  - libev=4.33
  - libnghttp2=1.67.0
  - libxcb=1.17.0
  - pthread-stubs=0.4
  - libstdcxx-ng=15.2.0
  - tornado=6.5.4
  - aws-sdk-cpp=1.11.606
  - libopentelemetry-cpp-headers=1.21.0
  - libxml2=2.15.1
  - aws-c-http=0.10.7
  - liblapack=3.11.0
  - partd=1.4.2
  - ncurses=6.5
  - lz4=4.4.5
  - libprotobuf=6.31.1
  - keyutils=1.6.3
  - libutf8proc=2.11.3
  - libuuid=2.41.3
  - brotli-python=1.2.0
  - urllib3[version='>=2,<3']
  - narwhals=2.15.0
  - pyarrow-core=22.0.0
  - pip:
      - affine==2.4.0
      - anywidget==0.9.21
      - appdirs==1.4.4
      - asttokens==3.0.1
      - attrs==25.4.0
      - boto3==1.42.32
      - botocore==1.42.32
      - bqplot==0.12.45
      - branca==0.8.2
      - cachetools==6.2.4
      - cdsapi==0.7.7
      - certifi==2026.1.4
      - cffi==2.0.0
      - cfgrib==0.9.15.1
      - charset-normalizer==3.4.4
      - city-metrix==0.3.0
      - click-plugins==1.1.1.2
      - cligj==0.7.2
      - colorcet==3.1.0
      - comm==0.2.3
      - cycler==0.12.1
      - datashader==0.18.2
      - decorator==5.2.1
      - earthengine-api==1.7.10
      - eccodes==2.45.0
      - eccodeslib==2.44.1.8
      - eckitlib==1.32.4.8
      - ecmwf-datastores-client==0.4.2
      - eerepr==0.1.2
      - executing==2.2.1
      - fckitlib==0.14.1.8
      - findlibs==0.1.2
      - folium==0.20.0
      - fonttools==4.61.1
      - future==1.0.0
      - geemap==0.36.6
      - geocoder==1.38.1
      - geocube==0.7.1
      - geopandas==1.1.2
      - google-api-core==2.29.0
      - google-api-python-client==2.188.0
      - google-auth==2.47.0
      - google-auth-httplib2==0.3.0
      - google-cloud-core==2.5.0
      - google-cloud-storage==3.8.0
      - google-crc32c==1.8.0
      - google-resumable-media==2.8.0
      - googleapis-common-protos==1.72.0
      - h5py==3.15.1
      - httplib2==0.31.1
      - idna==3.11
      - imageio==2.37.2
      - ipyevents==2.0.4
      - ipyfilechooser==0.6.0
      - ipyleaflet==0.20.0
      - ipython==9.9.0
      - ipython-pygments-lexers==1.1.1
      - ipywidgets==8.1.8
      - jedi==0.19.2
      - jmespath==1.1.0
      - jsonschema==4.26.0
      - jsonschema-specifications==2025.9.1
      - jupyter-leaflet==0.20.0
      - jupyterlab-widgets==3.0.16
      - kiwisolver==1.4.9
      - lazy-loader==0.4
      - llvmlite==0.46.0
      - matplotlib==3.10.8
      - matplotlib-inline==0.2.1
      - multipledispatch==1.0.0
      - multiurl==0.3.7
      - networkx==3.6.1
      - numba==0.63.1
      - numpy==2.3.5
      - odc-geo==0.5.0
      - odc-loader==0.6.4
      - odc-stac==0.5.2
      - osmnx==2.0.7
      - overturemaps==0.18.0
      - pandas==2.3.3
      - param==2.3.1
      - parso==0.8.5
      - pexpect==4.9.0
      - plotly==6.5.2
      - prompt-toolkit==3.0.52
      - proto-plus==1.27.0
      - protobuf==6.33.4
      - psygnal==0.15.1
      - ptyprocess==0.7.0
      - pure-eval==0.2.3
      - pvlib==0.14.0
      - pyasn1==0.6.2
      - pyasn1-modules==0.4.2
      - pycparser==3.0
      - pyct==0.6.0
      - pygments==2.19.2
      - pyogrio==0.12.1
      - pyparsing==3.3.2
      - pyperclip==1.11.0
      - pyproj==3.7.2
      - pyshp==3.0.3
      - pystac==1.14.3
      - pystac-client==0.9.0
      - python-box==7.3.2
      - pytz==2025.2
      - rasterio==1.4.4
      - ratelim==0.1.6
      - referencing==0.37.0
      - requests==2.32.5
      - rioxarray==0.19.0
      - rpds-py==0.30.0
      - rsa==4.9.1
      - s3fs==0.4.2
      - s3transfer==0.16.0
      - scikit-image==0.26.0
      - scipy==1.17.0
      - scooby==0.11.0
      - shapely==2.1.2
      - stack-data==0.6.3
      - tifffile==2026.1.14
      - tqdm==4.67.1
      - traitlets==5.14.3
      - traittypes==0.2.3
      - typing-extensions==4.15.0
      - tzdata==2025.3
      - uritemplate==4.2.0
      - utm==0.8.1
      - wcwidth==0.3.0
      - widgetsnbextension==4.0.15
      - xarray==2025.12.0
      - xarray-spatial==0.5.2
      - xee==0.0.24

